{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-3">
<!-- Empty col -->
  </div>
  <div class="col-sm-6">
    <div class="well" style="background-color:#F9F9F9;">
      <img src="{{image.image.url}}" alt="{{image.image.caption}}"class="img-responsive" style="width:600px;height:340px;">
      <div class="text-center">
      <header style="margin-top:3%;">
        <p style="float:left;margin-left:4px;margin-top:20px; font-weight:800">Posted By :</p>
        <img class="ml-10" src="{{image.image.url}}" alt="" style="height:50px;width:50px; border-radius:50%">
        <p  style="display:inline; margin:16px; font-weight:bolder; font-size:16px; margin-bottom:10px">{{image.user}}</p>
        <p style="font-size:12px;color:#DAAA4D; margin-top:10px">{{image.timestamp|timesince|upper}} ago</p>
        <hr>
      </header>
      <p style="margin-top:4px;">{{image.likes}} <span style="color:#DAAA4D">Likes</span></p><br>
      <p style=""><strong>{{ comments | length}} <span style="color:#DAAA4D">Comments</span> </strong></p>


      {% for comment in comments %}
      {% if image.id == comment.image.id %}
      <p><span style="color:#DAAA4D;">{{comment.user}}</span> {{comment.comment}}</p>
      <!-- <h6  style="font-size:12px"><i>{{comment.comment_date | timesince}} ago</i></h6> -->
      {% endif %}
      {% endfor %}
      <!-- {% for comment in image.comments %}
      <p style=""><span style="">{{comments.user}}</span>{{comment.comment}}</p>
      this is bulshit
      {% endfor %} -->
      <hr>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <!-- Empty col -->

  </div>
</row>

</div>
{% endblock %}
