{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}


{% block content %}
{{block.super}}
<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% for image in images %}
      <img src="{{image.image.url}}" alt="">
      <p>{{image.user}}</p>
      <a href="{% url 'comment' image_id=image.id %}" style="color:inherit;"><i class="far fa-comment fa-2x ml-4"></i></a>

      <div class="">                           {% if comments %}
                                              {% for comment in comments %}
                                              {% if comment.image_id == image.id %}

                                              <div >
                                                  <p> <strong> {{comment.user.username}} </strong>
                                                  {{comment.comment}}</p>
                                              </div>
                                              {% else %}

                                              {% endif %}
                                              {% empty%}
                                              <p>No comments yet</p>
                                              {% endfor %}

                                              {% endif %}



                                          </div>

    {% endfor %}
    <!-- {% for comment in comments %} -->
            <!-- {% if comment.image_id == image.id %} -->

            <!-- <div class="list-inline"> -->
                <p>
                {{comment.comment}}</p>
            <!-- </div> -->
            <!-- {% else %} -->
            <!-- {% endif %} -->
    <!-- {% endfor %} -->
  </div>
  <div class="col-md-3"></div>


</div
<br>
<br>
<br>

{% endblock %}
