{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}}
<div class="container mt-5"style="margin-top:40px;">

    <div class="row" style="margin-top:100px;">
        {% for prof in profile %}
        {% if user.id == prof.user.id %}
        <h5>{{prof.user.username}}</h5>
        <br>
        <a href="{% url "profile" %}">EDIT PROFILE</a>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                <!-- {% if prof.profilePhoto %}
                    <img src="{{prof.profilePhoto.url}}" alt="" class="img-fluid" style="border-radius:50%;width:150px;height:150px;">
                {% else %}
                    <img src="/static/img/avatar.png" alt="" class="img-fluid rounded-circle">
                {% endif %} -->
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                <!-- {% if prof.bio %} -->
                    <!-- <h5>{{prof.user.username}}</h5> -->
                    <h2>Bio :</h2>
                    <p>{{prof.bio}}</p>
                <!-- {% else %}
                    <h5>{{prof.user.username}}</h5>
                {% endif %} -->
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        {% endif %}
        {% empty %}
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <img src="/static/img/avatar.png" alt="" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                <p>{{user.username}}</p>
            </div>
        </div>
        {% endfor %}
        <hr>
    </div>
    <hr>
    <div class="container">
      <a href="{% url "profile" %}">EDIT PROFILE</a>
      <hr>
        <div class="row">
          <h3 style="margin-right:40px;">Posts</h3>
          <br>
          <!-- <a href="{% url "profile" %}">EDIT PROFILE</a> -->

                {% for image in images%}
            {% if image.user.id == user.id %}
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8">
                    {% if image.image %}
                    <div class="card">
                        <div class="card-header">
                                <!-- <img src="{{img.profile.profilePhoto.url}}" class="img-fluid rounded-circle" style="width:8%;height:8%"> -->
                                {% if user.id == image.user.id %}
                                <!-- <a href="{% url 'profile' %}">{{img.user.username}}</a> -->
                                <a href="#">{{image.user.username}}</a>

                                {% else %}
                                <a href="#">{{image.user.username}}</a>
                                {% endif %}
                        </div>
                        <div class="card-body">
                            {% if image.image.url %}
                                <img src="{{image.image.url}}" alt="img-fluid" style="width:100%; height:100%">
                                {{image.caption | safe}}
                                <p>{{image.timestamp | timesince}} ago</p>
                                {% if image.likes >= 1 %}
                                <p><i class="fa fa-heart fa-2x ml-4" style="color:red"></i><b>{{image.likes}} likes</b></p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-footer">
                                {% for comment in comments %}
                                {% if image.id == comment.image.id %}
                                <p><b>{{comment.user}}</b>  {{comment.comments}}</p>
                                <h6  style="font-size:12px"><i>{{comment.comment_date | timesince}} ago</i></h6>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
