{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div class="container">

  <div class="col-md-3">


    {% if profile_details
      <h1>Profile Details</h1>
    {% else%}
    <h1>No profile</h1>
    {% endfor %}
      {% if profile_details.profilePhotophoto %}
      <img src="{{profile_details.profphoto.url}}" alt="profile-photo" class="img-thumbnail rounded-circle prof">
      {% else %}
      <img src="/static/images/avatar.jpg" alt="avatar" class="img-thumbnail rounded-circle prof">
      {% endif %}

  </div>
</div>

{% endblock %}
