{%extends 'base.html'%}
{% block content %}
<div class="container" style="margin-top:120px;">

  <div class="row">
    {% if images %}
      <h2 class="text-center" style="color:black">Found {{ images|length }} Images of search term : <em>{{message}}</em> </h2>
      <hr>
    {% else %}
      <h2 style="color:black"> Found 0 images for the search term {{message}}</h2>
      <hr>
    {% endif %}

  </div>

  <div class="container">

  <!-- {% if images %} -->
<hr>
    {% for image in images %}
    <a href="#">
      <div class="col-md-4 img-cont">
        <img src="{{ image.image.url }}" class="img-responsive i-images">
        <div class="overlay">
          <div class="text">{{image.caption}}</div>
        </div>
      </div>
    </a>



    {% endfor %}
  <!-- {% endif %} -->
  </div>
</div>
{% endblock %}
